@import "~@fortawesome/fontawesome-free/css/all.css";

.audio-controls .custom-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  background-color: #232323;
  padding: 10px;
  height: 92px;
}

.timeline-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.current-time,
.duration {
  flex: 0 0 auto;
}

.custom-timeline {
  flex-grow: 1;
  height: 29px;
  margin: 0 15px;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 5px;
}

.progress {
  height: 100%;
  background-color: #007bff; 
  border-radius: 5px;
}

.audio-controls .custom-controls .meta-data {
  display: flex;
  align-items: center;
}

.audio-controls .custom-controls img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 7px;
}

.title-author {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 300px;
}

.title-author .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #e0e0e0;
}

.title-author .author {
  font-size: 18px;
  color: #929292;
}

.audio-controls .custom-controls .controls-container {
  display: flex;
  align-items: center;
  margin-right: 50px;
  user-select: none;
}

.audio-controls .custom-controls .controls-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 20px; 
  color: rgb(157, 157, 235); 
  width: 32px;
}

.audio-controls .custom-controls .controls-container .play-pause {
  margin-top: -20px;
  font-weight: bold;
  font-size: 35px;
  vertical-align: middle; 
  width: 20px;
  height: 20px;
}

.fa-backward, .fa-forward {
  color: rgb(157, 157, 235); 
  font-size: 20px;
}

.fa-backward:hover, .fa-forward:hover {
  color: rgb(193, 193, 238);
}

.audio-controls .custom-controls .controls-container button:hover {
  color: rgb(193, 193, 238);
}

.audio-controls .custom-controls audio {
  flex: 1;
  margin-left: 0px;
  margin-right: -35px;
}

.custom-controls {
  background-color: #212121;
}

.audio-controls .custom-controls .timeline-container {
  display: flex;
  align-items: center;
  width: 900px;
  margin-left: -60px;
  user-select: none;
}

.audio-controls .custom-controls .duration span,
.audio-controls .custom-controls .current-time span {
  font-size: 18px;
  background-color: #232323;
  color: #e0e0e0;
  z-index: 1;
  
}

.custom-timeline {
  position: relative;
  width: 100%;
}

.custom-timeline input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
}

.custom-timeline input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  background-color: rgb(105, 105, 105);
  border-radius: 50%;
  outline: none;
  position: relative;
  z-index: 1;
}

.custom-timeline input[type="range"]::-webkit-slider-thumb:hover {
  background-color: rgb(136, 84, 227);
}

.audio-controls .custom-controls .volume-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.volume-container .volume {
  appearance: none;
  height: 8px; 
  width: 100px;
  margin-right: 60px;
  border-radius: 5px; 
  background: #c4c4c4; 
  outline: none;
  transition: background 0.2s; 
}

.volume-container .volume::-webkit-slider-thumb {
  appearance: none; 
  width: 16px; 
  height: 16px; 
  border-radius: 50%; 
  background: #696969; 
  cursor: pointer; 
}

.volume-container .volume::-webkit-slider-thumb:hover {
  background-color: rgb(136, 84, 227);
}
