.audio-list-container {
  margin-top: 1px;
  margin-left: 10px;
  /* flex: 1; */
  /* overflow-y: auto; */
  /* scroll-behavior: auto; */
  overflow-x: hidden;
  /* scrollbar-width: none;  */
  height: 623px;
}

.audio-list-container:not(.dragging-started),
.audio-list-container:not(.dragging-started) *:not(button):not(p) {
  cursor: default !important;
}

.audio-list-container::-webkit-scrollbar {
  width: 15px; 
}

.audio-list-container::-webkit-scrollbar-track {
  background: rgb(20, 20, 20); 
}

.audio-list-container::-webkit-scrollbar-thumb {
  background: #7c0ec165; 
  /* border-radius: 50px;  */
}

.audio-list-container::-webkit-scrollbar-thumb:hover {
  background: #7810a4; 
}


.playlist-info {
  margin-top: 2px;
  display: flex;
  align-items: center;
  /* text-align: center; */
  margin-bottom: 6px;
  width: 800px;
  color: #e0e0e0;
  background-color: #303030;
  border-radius: 10px;
}

.playlist-info img {
  margin: 10px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.playlist-info .alt-img {
  margin: 10px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: #434343;
}

.playlist-details {
  margin-top: 40px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.playlist-details h2 {
  margin: 0;
  font-size: 26px;
  font-weight: 640;
  color: #7762cc;
  /* text-align: center; */
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(4, 0, 80, 0.4);
}

.playlist-details p {
  margin: 10px 0;
  font-size: 16px;
  color: #9bbae8;
}

.add-audio-button-container {
  margin-left: -5px;
  padding-top: 5px;
  align-items: flex-start;
}

.add-audio-button {
  all: unset;
  width: 150px;
  height: 30px;
  align-self: flex-start;
  border-radius: 10px;
  background-color: #7762cc;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #363131;
  font-weight: 640;
}

.add-audio-button:hover {
  background-color: #7c6db1;
  font-size: 14.2px;
  color: #2d2c2c;
  font-weight: 640;
}

.audio-list {
  /* scrollbar-width: none; */
  padding: 13px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #1b1b1b;
  width: 800px;
  height: auto;
  min-height: 452px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.audio-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.audio-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #1b1b1b;
}

/* .audio-list .item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #1b1b1b;
} */

.audio-list .audio-metadata-container {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 7px;
}

.audio-list .audio-metadata-container img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 4px;
}

.audio-list .button-container {
  width: 50px;
  user-select: none;
}

.audio-list .button-container .play_pause {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #3f3f3f;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background 0.2s; 
}

.audio-list .button-container .play_pause.current {
  background-color: #583c67;
}

.audio-list .button-container .play_pause.playing {
  background: linear-gradient(135deg, #723492, #563765, #8f4fae, #8f4fae, #563765, #723492);
  background-size: 400% 400%; 
  animation: gradientShift 10s ease infinite; 
  background-clip: border-box;
}

@keyframes gradientShift {
  0%, 100% {
    background-position: 0% 0%; 
  }
  50% {
    background-position: 100% 100%; 
  }
}

.audio-list .button-container .play_pause:hover {
  background-color: #583c67;
}

.audio-list .title-author-container {
  display: flex;
  flex-direction: column;

  /* ПОКА НЕ ДОБАВЛЮ ДРУГИЕ СТОЛБЦЫ */
  /* width: 210px; */
  width: 550px;
}

.title-author-container .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
  color: #e0e0e0;
}

.title-author-container .author {
  font-size: 16px;
  color: #6c757d;
}

.duration-container {
  flex-direction: column;
  margin-right: 20px;
  width: 30px;
}

.duration-container .duration {
  font-size: 16px;
  color: #e0e0e0;
  font-weight: lighter;
  margin-bottom: 5px;
}

.delete-from-playlist-button-container {
  display: inline-block;
  margin-right: 10px;
}

.delete-from-playlist-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  color: rgb(96, 90, 90); 
  cursor: pointer;
  transform: scaleX(1.5);
}

.delete-from-playlist-button.updating {
  border: none;
  background-color: transparent;
  font-size: 24px;
  color: rgb(52, 49, 49); 
  cursor: pointer;
  transform: scaleX(1.5);
}

.delete-from-playlist-button.updating:hover {
  color: rgb(52, 49, 49); 
}

.delete-from-playlist-button:focus {
  outline: none;
}

.delete-from-playlist-button:hover {
  color: #cc0000;
}

.add-button {
  all: unset;
  margin-left: 15px;
  background-color: #73abff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.add-button:hover {
  background-color: #4186e0;
}
