.all-playlist-container {
  padding: 15px;
  flex: 1;
  user-select: none;
  height: 623px;
  max-height: 623px;
  overflow-y: auto;
  scroll-behavior: auto;
  overflow-x: hidden;
}

.all-playlist-container *:focus {
  outline: none;
}

.all-playlist-container::-webkit-scrollbar {
  width: 15px;
}

.all-playlist-container::-webkit-scrollbar-track {
  background: rgb(20, 20, 20);
}

.all-playlist-container::-webkit-scrollbar-thumb {
  background: #7c0ec165;
  /* border-radius: 50px;  */
}

.all-playlist-container::-webkit-scrollbar-thumb:hover {
  background: #7810a4;
}

.all-playlist-container h2 {
  margin-top: 10px;
  color: #73abff;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.all-playlist-list-container {
  /* position: relative; */
  margin-top: 10px;
  overflow-y: auto;
  scroll-behavior: auto;
  overflow-x: hidden;
}

.all-playlist-container .all-playlist-list {
  position: relative;
  padding-left: 5px;
  padding-bottom: 15px;
  margin-top: 7px;
  display: flex;
  gap: 20px;
  padding: 20px;
  padding-top: 0;
  user-select: none;
  flex-wrap: wrap;
}

.all-playlist-list::-webkit-scrollbar {
  display: none;
}

.all-playlist-list .playlist-item {
  position: relative;
  width: 194px;
  height: 194px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(122, 122, 122);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: width 0.3s, height 0.3s;
  overflow: hidden;
  background-size: cover;
  user-select: none;
}

.all-playlist-list .playlist-item:hover {
  width: 197px;
  height: 197px;
  border: solid #5c16b1 1px;
}

.playlist-item:hover .play-button {
  top: calc(100% - 60px);
}

.play-button {
  position: absolute;
  top: 100%;
  left: 84%;
  transform: translateX(-50%);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: rgb(41, 40, 41);
  transition: top 0.3s;
}

.play-button:hover {
  position: absolute;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background-color: rgb(119, 63, 133);
}

.play-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 17px solid #a2a2a2;
}

.playlist-item h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 640;
  color: #5c16b1;
  text-align: center;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(4, 0, 80, 0.4);
}

.playlist-item p {
  margin: 5px 0;
  font-size: 14px;
  color: #9bbae8;
}

.add-button {
  all: unset;
  width: 150px;
  height: 30px;
  margin-left: 15px;
  align-self: flex-start;
  border-radius: 10px;
  background-color: #7762cc;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #363131;
  font-weight: 640;
}

.add-button:hover {
  background-color: #8575c0;
  font-size: 14px;
  color: #191919;
  font-weight: 640;
}

.add-playlist-button-item2 {
  position: relative;
  width: 194px;
  height: 194px;
  border: none;
  border-radius: 40px;
  background-color: rgb(82, 82, 82);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: width 0.3s, height 0.3s;
  font-size: 200px;
}

.add-playlist-button-item2.hovered {
  width: 195px;
  height: 195px;
  border: none;
  background-color: #6c6b6c;
  transition: background-color 0.3s;
}

.add-playlist-button-item2 .plus-button {
  width: 100%;
  height: 100%;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-right: 20px;
  font-size: 100px;
  font-weight: 440;
  text-align: center;
  justify-content: center;
  color: #40334f;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(4, 0, 80, 0.4);
}

.add-playlist-button-item2 .plus-button.hovered {
  margin-top: -10px;
  font-weight: 440;
  color: #4f287c;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(4, 0, 80, 0.4);
  transition: font-weight 1s;
}

.playlist-buttons {
  position: absolute;
  bottom: -20px;
  left: -10px;
  /* background-color: #a2a2a2; */
  padding: 5px;
  border-radius: 7px;
}

.playlist-buttons .back,
.playlist-buttons .forward {
  border: none;
  background-color: rgb(41, 40, 41);
  color: #ffffff;
  border-radius: 7px;
  width: 30px;
  height: 25px;
}

.playlist-buttons .back.disabled,
.playlist-buttons .forward.disabled {
  color: #464646;
}

.playlist-buttons .back {
  margin-right: 5px;
}

.playlist-buttons .back:not(.disabled):hover,
.playlist-buttons .forward:not(.disabled):hover {
  width: 31px;
  height: 26px;
  background-color: rgb(119, 63, 133);
}

.add-to-favorites-container {
  position: absolute;
  top: 69%;
  left: 6%;
  width: 20px;
  height: 20px;
}

.add-to-favorites-container button {
  border: none;
  border-radius: 20%;
  justify-content: center;
  align-items: center;
  background-color: rgba(95, 94, 94, 0.4);
}

.add-to-favorites-container button:hover {
  background-color: rgba(130, 32, 135, 0.5);
}

.add-to-favorites-container h2 {
  color: #1d1d1d !important;
  width: 100%;
  height: 100%;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 40px;
}

.add-to-favorites-container h2.hovered {
  color: #000000 !important;
  font-size: 41px;
}

