.all-playlist-container {
  padding: 15px;
  flex: 1;
  user-select: none;
}

.all-playlist-container h2 {
    margin-top: 10px;
    color: #73abff;
    margin-left: 20px;
    display: flex; 
    align-items: center;
}

.all-playlist-list-container {
  /* position: relative; */
  margin-top: 10px;
  overflow-y: auto;
  scroll-behavior: auto;
  overflow-x: hidden;
}

.all-playlist-list {
  position: relative;
  padding-left: 5px;
  padding-bottom: 15px;
  margin-top: 7px;
  display: flex;
  gap: 20px;
  padding: 20px;
  padding-top: 0;
  user-select: none;
  flex-wrap: wrap;
}

.all-playlist-list::-webkit-scrollbar {
  display: none;
}

.playlist-item {
  position: relative;
  width: 197px;
  height: 197px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(122, 122, 122);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: width 0.3s, height 0.3s;
  overflow: hidden;
  background-size: cover;
  user-select: none;
}

.playlist-item:hover {
  width: 200px;
  height: 200px;
  border: solid #5c16b1 1px;
}

.playlist-item:hover .play-button {
  top: calc(100% - 60px);
}

.play-button {
  position: absolute;
  top: 100%;
  left: 84%;
  transform: translateX(-50%);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: rgb(41, 40, 41);
  transition: top 0.3s;
}

.play-button:hover {
  position: absolute;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background-color: rgb(119, 63, 133);
}

.play-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 17px solid #a2a2a2;
}

.playlist-item h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 640;
  color: #5c16b1;
  text-align: center;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(4, 0, 80, 0.4);
}

.playlist-item p {
  margin: 5px 0;
  font-size: 14px;
  color: #9bbae8;
}

.add-button {
  all: unset;
  margin-left: 15px;
  background-color: #73abff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  user-select: none;
}

.add-button:hover {
  background-color: #4186e0;
}

.playlist-buttons {
  position: absolute;
  bottom: -20px;
  left: -10px;
  /* background-color: #a2a2a2; */
  padding: 5px;
  border-radius: 7px;
}

.playlist-buttons .back,
.playlist-buttons .forward {
  border: none;
  background-color: rgb(41, 40, 41);
  color: #ffffff;
  border-radius: 7px;
  width: 30px;
  height: 25px;
}

.playlist-buttons .back.disabled,
.playlist-buttons .forward.disabled {
  color: #464646;
}

.playlist-buttons .back {
  margin-right: 5px;
}

.playlist-buttons .back:not(.disabled):hover,
.playlist-buttons .forward:not(.disabled):hover {
  width: 31px;
  height: 26px;
  background-color: rgb(119, 63, 133);
}
