.sidebar {
  margin: 3px;
  margin-top: 4px;
  width: 20%;
  height: 619px;
  background-color: #333; /* Темный фон */
  position: absolute; /* Абсолютное позиционирование */
  left: 0; /* Будет расположен у левого края */
  top: 55px; /* Начало отсчета от верхнего края, учитывая высоту Navbar */
  background-color: #333; 
  border-radius: 15px;
}

/* Можно добавить дополнительные стили по вашему желанию */
