.profile {
  margin-top: 1px;
  margin-left: 10px;
  /* flex: 1; */
  /* overflow-y: auto; */
  /* scroll-behavior: auto; */
  overflow-x: hidden;
  /* scrollbar-width: none;  */
  height: 623px;
}

.profile::-webkit-scrollbar {
  width: 15px;
}

.profile::-webkit-scrollbar-track {
  background: rgb(20, 20, 20);
}

.profile::-webkit-scrollbar-thumb {
  background: #7c0ec165;
  /* border-radius: 50px;  */
}

.profile::-webkit-scrollbar-thumb:hover {
  background: #7810a4;
}

.profile .title {
  user-select: none;
}

.profile h2 {
  margin-top: 15px;
  margin-left: 10px;
  color: #73abff;
  padding-bottom: 10px;
}

.profile-info {
  position: relative;
  margin-top: 2px;
  display: flex;
  align-items: center;
  /* text-align: center; */
  margin-bottom: 6px;
  width: 800px;
  color: #e0e0e0;
  background-color: #303030;
  border-radius: 10px;
}

.profile-image {
  /* position: absolute; */
  margin: 20px;
  width: 200px;
  height: 200px;
  min-width: 200px;
  min-height: 200px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 100px;
  user-select: none;
  object-fit: cover;
  /* transform: translate(0, -25%); */
  /* top: 0.5px; */
  /* transform: translateX(-40%); */
}

.profile-image-placeholder {
  margin: 20px;
  width: 200px;
  height: 200px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 100px;
  background-color: #060606;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 65px;
  color: #853b94;
  user-select: none;
}

.profile-image-wrapper {
  position: relative;
}

.edit-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 100px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный цвет */
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  opacity: 0; /* Начальная непрозрачность */
  transition: opacity 0.3s ease; /* Плавное появление */
  text-align: center;
  line-height: 9;
}

.profile-image-wrapper:hover .edit-overlay,
.profile-image-wrapper .edit-overlay.hovered {
  opacity: 1;
}

.profile-image-menu {
  position: absolute;
  margin-top: -40px;
  margin-left: 100px;
  background-color: #222222;
  border-radius: 7%;
  /* padding: 1px; */
  user-select: none;
}

.profile-image-menu-item {
  color: rgb(173, 130, 213);
  background-color: rgb(61, 61, 61);
  border-radius: 5px;
  margin-bottom: 2px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  /* margin: 2px; */
}

.profile-image-menu-item:hover {
  background-color: rgb(86, 86, 86);
  color: rgb(220, 193, 245);
  cursor: pointer;
}

.profile-details {
  margin-top: 40px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.profile-details h2 {
  margin: 0;
  font-size: 26px;
  font-weight: 640;
  color: #7762cc;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(4, 0, 80, 0.4);
}

.profile-details .username-container input {
  margin-bottom: 9px;
  height: 33px;
  font-size: 25px;
  font-weight: 640;
  color: #7762cc;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(4, 0, 80, 0.4);
  background-color: #202020;
  border: none;
  border-radius: 5px;
}

.username-container {
  height: 33px;
  display: flex;
  align-items: center;
}

.username-container .editing-button {
  border: none;
  background-color: transparent;
  margin-top: -14px;
  margin-left: 6px;
  width: 20px;
  height: 20px;
}

.username-container .edit-icon {
  margin: 0;
  width: 20px;
  height: 20px;
  filter: invert(50%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(50%);
}

.username-container .edit-icon:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(50%);
}

.username-container .cancel-editing-button {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 25px;
  border: none;
  background-color: transparent;
  font-size: 24px;
  color: rgb(96, 90, 90);
  cursor: pointer;
  transform: scaleX(1.5);
}

.username-container .cancel-editing-button:focus {
  outline: none;
}

.username-container .cancel-editing-button:hover {
  color: #9f9f9f;
}

.username-container .save-username-button {
  margin-left: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(150, 149, 149);
  font-size: 20px;
  color: rgb(51, 23, 77);
  cursor: pointer;
}

.username-container .save-username-button:hover {
  background-color: #9f9f9f;
  color: rgb(110, 47, 169);
}

.username-container .error-message {
  position: absolute;
  top: 57%;
  display: block;
  min-height: 12px;
  margin-top: -7px;
  margin-left: 5px;
  margin-bottom: -20px;
  color: red;
  font-size: 14px;
}

.profile-details p {
  margin: 10px 0;
  font-size: 16px;
  color: #9bbae8;
}
