  .playlist-container {
    padding: 20px;
    flex: 1;
  }
  
  .playlist-container h2 {
    color: #73abff;
    padding-bottom: 20px;
  }

  .playlist-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Интервал между плейлистами */
  }
  
  .playlist-item {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(122, 122, 122);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .playlist-item h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 640;
    color: #5c16b1;
    text-align: center;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(4, 0, 80, 0.4)
  }
  
  .playlist-item p {
    margin: 5px 0;
    font-size: 14px;
    color: #9bbae8;
  }
  
  .add-button {
    all: unset;
    margin-left: 15px;
    background-color: #73abff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1; /* Сброс стандартного отступа текста */
}

  .add-button:hover {
    background-color: #4186e0;
  }