  .playlist-container {
    padding: 20px;
    flex: 1;
  }
  
  .playlist-container h2 {
    color: #73abff;
    padding-bottom: 20px;
  }

  .playlist-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Интервал между плейлистами */
  }
  
  .playlist-item {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(122, 122, 122);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: width 0.3s, height 0.3s;
    overflow: hidden; /* Скрытие содержимого, которое выходит за границы */
    background-size: cover;
  }
  
  .playlist-item:hover {
    width: 205px;
    height: 205px;
    border: solid #5c16b1 1px;
  }
  
  .playlist-item:hover .play-button {
    top: calc(100% - 60px);
  }
  
  .play-button {
    position: absolute;
    top: 100%;
    left: 84%;
    transform: translateX(-50%);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgb(41, 40, 41);
    transition: top 0.3s; 
  }
  
  .play-button:hover {
    position: absolute;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background-color: rgb(119, 63, 133);
  }

  .play-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 17px solid #a2a2a2; /* Белый цвет стрелочки */
  }
  
  
  .playlist-item h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 640;
    color: #5c16b1;
    text-align: center;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(4, 0, 80, 0.4)
  }
  
  .playlist-item p {
    margin: 5px 0;
    font-size: 14px;
    color: #9bbae8;
  }
  
  .add-button {
    all: unset;
    margin-left: 15px;
    background-color: #73abff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1; /* Сброс стандартного отступа текста */
}

  .add-button:hover {
    background-color: #4186e0;
  }